*{
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: 'wd';
    src: url('../fonts/wending.TTF');
}
#music {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  z-index: 1000;
}